.slideshow {
    overflow: hidden;
    width: 80%;
    margin: auto;
    position: relative;
}

.slideshow_container {
    display: flex;
    transition: transform .5s ease;
}

.slideshow_container_img {
    flex-shrink: 0;
    border-radius: 30px;
    width: 100%;
    height: 415px;
    object-fit: cover;
}

.slideshow_controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: calc(100% - 30px);
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.chevron:hover{
    cursor: pointer;
}

.chevron {
    width: 30px !important;
    height: auto !important;
}

.slideshow_idx {
    position: absolute;
    color: white;
    text-align: center;
    bottom: 10px;
    width: 100%;
    font-weight: bold;
}


@media (max-width: 375px) {

    .slideshow {
        width: 90%;

    }
    .slideshow_container_img {
        border-radius: 10px;
        height: 255px;
    }
    .chevron {
        width: 15px !important;
    }

    
}

