.unknown_title {
justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 200px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF6060;
}

.unknown_text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FF6060;
    margin-top: 50px;
    justify-content: center;
}

.backhome {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-decoration-line: underline;
    text-align: center;
    justify-content: center;
    margin-top: 8%;
    color: #FF6060;
    margin-bottom: 100px;

}

@media (max-width: 375px) {
    .unknown_title {
            font-size: 100px;
        }
}