.footer{
    height: 209px;
    width: 1440px;
    border-radius: 0px;  
    background-color: black;
}

.logoKasaFooter{
    padding-top: 50px;
    padding-bottom: 30px;
}

.legal{
    color: white;
    font-size: 24px;
}



