.header{
    display: flex;
    height: 68px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    justify-content: space-between;
    align-content: center;
}

nav{
    display: flex;
    gap: 50px;
    width: 309px;
    justify-content: center;
    align-items: center;
}

.navText{
    color: #FF6060;
    text-decoration : none;
    font-size: 24px;
}



.navText.active{
    text-decoration: underline;
}

@media (max-width: 375px) {
    .header{
        padding-top: 40px;
        justify-content: space-between;
        align-content: center;
        gap: 40px;
        width: 80%;
        margin: auto;
        padding-left: unset;
    }
    .logoKasa{
        width: 130px;
        height: 47px;
    }
    
    nav{
        gap: 20px;
        width: 350px;
    }
    
    .navText{
        font-size: 18px;
        width: 100%;
        white-space: nowrap;
    }
    

}
