.accordionlocation_section {
    display: flex;
    flex-direction: column;
}

.accordionlocation {
    width: 80%;
    margin: auto;
    height: 52px;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
}

.accordionlocation_title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
}

.accordionlocation_icon {
    margin-left: auto;
    transition: transform 0.6s ease;
}

.rotate {
    margin-left: auto;
    transform: rotate(90deg);
}

.accordionlocation_content {
    background-color: #F6F6F6;
    overflow: auto;
    transition: max-height 0.6s ease;
    height: 249px;
    width: 500px;
    left: 0px;
    top: 38px;
    border-radius: 10px;
}

.accordionlocation_text {
    color: #FF6060;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 18px;
}

.accordion__section {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    justify-content: center;
}

.accordion {
    width: 100%;
    height: 47px;
    border-radius: 5px;
    background-color: #FF6060;
    color: white;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    margin: auto;
}

.accordion__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
}

.accordion__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
}

.rotate {
    transform: rotate(90deg);
}
.container{
    width: 100%;
}

.accordion__container{
    display: flex;
    width:80%;
    justify-content: center;
}


.accordion__content {
    background-color: #F6F6F6;
    overflow: auto;
    transition: max-height 0.6s ease;
    height: 117px;
    width: 100%;
    margin: auto;
    left: 0px;
    top: 38px;
    border-radius: 5px;
}

.accordion__text {
    color: #FF6060;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 18px;
}

.accordion-container {
    margin-bottom: 20px;
    position: relative;
}

@media (max-width: 375px) {
    .accordionlocation{
        width: 335px;
    }
    .accordionlocation_content{
        width: 335px;
    }
    
    .accordion {
        width: 100%;
        height: 29.93px;
    }

    .accordion__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 13px;
        text-align: left;
    }

    .accordion__content {
        margin:auto;
    }

    .accordion__text {
        color: #FF6060;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;

        padding: 18px;
        padding-top: 5px;

    }

    .container{
        margin: auto;
        width: 100%;
    }

    .accordion__content {
        width: 335px;
    }

    .accordion-container {
        margin-top: 20px;
    }


    .accordion-container-right{
        margin-right: unset;
    }
}