
.body_location_page{
    margin-bottom: 200px;
}

ul {
    list-style-type: none;
    text-align: left;
    margin-top: 5px;
    padding-left: 10px;
  }

.slideshow_location {
    margin-top: 35px;
}


.presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.location_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.location_subheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    margin-right: 10%;
    margin-bottom: 10px;
}

.main-container-tag {
    display: flex;
}

.main-container-stars {
    display: flex;
    flex-direction: row;
}

.main-container-accordion {
    display: flex;
    margin: auto;
    flex-direction: row; 
    justify-content: space-between;
    width: 80%;

}

.title_locationpage {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
}

.subtitle_locationpage {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
    margin-top: -25px;
}

.accordion-container-right{
width: 45%;
margin-left: 10px;
}

.accordion-container-left{
   
    width: 45%;
}




@media (max-width: 1000px) {

    .body_location_page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 200px;
    }

    .slideshow_location{
        width: 100%;
    }

    .presentation{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .location_header{
        margin: 0;
        text-align: center;
    }

    .title_locationpage {
        font-size: 30px;
        line-height: 142.6%;
        display: flex;
        align-items: flex-end;
        color: #FF6060;
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .subtitle_locationpage {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .main-container-tag{
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .location_subheader{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-right: 0;
        width: 100%;
    }

    .main-container-accordion{
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;
        width: 90%;
        margin: auto;
    }

    .accordion-container-right{
        width: 100%;
        margin-left: 0px;
        }
        
        .accordion-container-left{
            width: 100%;
        }
}

